# --- DEPENDENCIAS (FRONTEND) ---

node_modules/
dist/
.angular/
.env

#--- ARCHIVOS DE SISTEMA ---
.DS_Store
Thumbs.db

#--- ENTORNOS VIRTUALES (BACKEND) ---
venv/
env/
.venv/
pycache/
*.py[cod]
db.sqlite3
.env

#--- DEPENDENCIAS (FRONTEND) ---
node_modules/
.angular/
dist/

#--- IDEs / EDITORES ---
.vscode/
.idea/