<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Inventario Farmacia FarmaStock</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="#inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#quienes">Quienes Somos</a></li>
        <li class="nav-item"><a class="nav-link" href="#testimonios">Testimonios</a></li>
        <li class="nav-item"><a class="nav-link" href="#farmastock">FarmaStock</a></li>
        <li class="nav-item"><a class="nav-link" href="#galeria">Galería</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/login">Usuarios</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Hero -->
<section id="inicio" class="hero-section">

  <div class="hero-overlay"></div>

  <div class="hero-bg">
    <img
      src="assets/img/FarmaBanner.jpeg"
      alt="Banner FarmaStock">
  </div>

  <div class="container hero-content">

    <h1 class="hero-title">
      Bienvenido a FarmaStock
    </h1>

    <p class="hero-subtitle">
      Tu plataforma inteligente para la gestión de inventarios farmacéuticos.
    </p>

    <div class="mt-4">
      <a href="#contacto" class="btn btn-primary btn-lg me-2">
        Contáctanos
      </a>

      <a href="#quienes" class="btn btn-outline-light btn-lg">
        Conocer Más
      </a>
    </div>

  </div>

</section>


<!-- Quienes Somos - modificado por Ncalmuccin -->
<section id="quienes" class="quienes-section py-5">

  <div class="container">

    <div class="text-center mb-5">
      <h2 class="fw-bold quienes-titulo">Quiénes Somos</h2>
      <p class="lead text-muted">
        Conocé más sobre FarmaStock, nuestra misión y nuestro compromiso con la gestión farmacéutica.
      </p>
    </div>

    <div class="row align-items-center g-5">

      <!-- Imagen -->
      <div class="col-lg-6">
        <div class="imagen-contenedor">
          <img
            src="assets/img/FarmaTablet.jpg"
            alt="Equipo FarmaStock"
            class="img-fluid rounded-4 shadow-lg quienes-img">
        </div>
      </div>

      <!-- Información -->
      <div class="col-lg-6">

        <div class="info-card mb-4">
          <h3>🎯 Nuestra misión</h3>
          <p>
            Desarrollar una solución web que optimice el control de medicamentos,
            mejore la organización del stock y facilite la gestión diaria de farmacias.
          </p>
        </div>

        <div class="info-card mb-4">
          <h3>🚀 Nuestra visión</h3>
          <p>
            Ser una herramienta moderna, confiable y accesible para impulsar la
            transformación digital de la gestión farmacéutica.
          </p>
        </div>

        <div class="info-card">
          <h3>💙 Nuestros valores</h3>

          <div class="row g-3 mt-2">

            <div class="col-6">
              <div class="valor-card">
                Calidad
              </div>
            </div>

            <div class="col-6">
              <div class="valor-card">
                Eficiencia
              </div>
            </div>

            <div class="col-6">
              <div class="valor-card">
                Innovación
              </div>
            </div>

            <div class="col-6">
              <div class="valor-card">
                Usuario
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>


<!-- Testimonios -->
<section id="testimonios" class="py-5 bg-light">
  <div class="container">

    <h2 class="mb-5 text-center titulo-testimonios">
      Testimonios
    </h2>

    <div class="row g-4">

      <div class="col-md-4">
        <div class="card p-4 shadow-sm testimonial-card">
          <p>
            "La facilidad para registrar entradas y salidas de medicamentos reduce errores manuales."
          </p>
          <h6 class="fw-bold mb-0">Carlos López</h6>
          <small>Administrador de Farmacia</small>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-4 shadow-sm testimonial-card">
          <p>
            "Con este sistema logramos identificar rápidamente los medicamentos próximos a vencer."
          </p>
          <h6 class="fw-bold mb-0">Carlos Pérez</h6>
          <small>Gerente de Sucursal</small>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-4 shadow-sm testimonial-card">
          <p>
            "Desde que implementamos el sistema, la gestión de medicamentos es mucho más eficiente."
          </p>
          <h6 class="fw-bold mb-0">Laura Gómez</h6>
          <small>Farmacéutica</small>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- FarmaStock -->
<section id="farmastock" class="py-5">
  <div class="container">
    <h2 class="mb-4 text-center">FarmaStock</h2>
    <div class="row">
      <div class="col-12 text-center">
        <p>"Administrador web de Inventarios para medicamentos."</p>
        <div class="farmastock-image-wrapper">
          <img src="assets/img/admin.jpg" alt="Medicamentos" class="farmastock-image" />
        </div>
      </div>
    </div>
    <br/>
    <div class="text-center">
      <a href="https://github.com/Proyecto1-ISPC-G14-2025/InventarioFarmaStock-2026" class="btn btn-primary btn-lg">DESCARGAR VERSIÓN DE PRUEBA</a>
    </div>
  </div>
</section>

<!-- Galería -->
<section id="galeria" class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-4 text-center">Galería FarmaStock</h2>
    <div class="carousel-container">
      
      <button class="carousel-nav prev" (click)="moveCarousel(-1)">❮</button>
      <button class="carousel-nav next" (click)="moveCarousel(1)">❯</button>
      
      <div class="carousel-track" 
           [style.transform]="'translateX(' + (currentSlide * -porcentajeDesplazamiento) + '%)'">
        
        <div class="carousel-card" [class.active]="currentSlide === 0" [style.width.%]="porcentajeDesplazamiento">
          <img src="assets/img/LogoFarmaStock.png" alt="FarmaStock" class="carousel-img">
          <div class="carousel-card-content text-center">
            <h5>FarmaStock</h5>
            <p>Gestión de inventario.</p>
          </div>
        </div>

        <div class="carousel-card" [class.active]="currentSlide === 1" [style.width.%]="porcentajeDesplazamiento">
          <img src="assets/img/SoftwareActivos.png" alt="Software Activos" class="carousel-img">
          <div class="carousel-card-content text-center">
            <h5>Activos Médicos</h5>
            <p>Control de equipos.</p>
          </div>
        </div>

        <div class="carousel-card" [class.active]="currentSlide === 2" [style.width.%]="porcentajeDesplazamiento">
          <img src="assets/img/SoftwareInventario.png" alt="Software Inventario" class="carousel-img">
          <div class="carousel-card-content text-center">
            <h5>Inventarios</h5>
            <p>Stock inteligente.</p>
          </div>
        </div>
      </div>

      <div class="carousel-dots">
        <span class="carousel-dot" [class.active]="currentSlide === 0" (click)="goToSlide(0)"></span>
        <span class="carousel-dot" [class.active]="currentSlide === 1" (click)="goToSlide(1)"></span>
        <span class="carousel-dot" [class.active]="currentSlide === 2" (click)="goToSlide(2)"></span>
      </div>
    </div>
  </div>
</section>

<!-- Contacto - modificado Ncalmuccin -->
<section id="contacto" class="py-5">
<div class="col-lg-8 col-md-10 mx-auto">

  <div class="card shadow-lg border-0 rounded-4">

    <div class="card-header bg-primary text-white text-center py-3">
      <h3 class="mb-0">
        <i class="bi bi-envelope-fill me-2"></i>
        Contáctanos
      </h3>
    </div>

    <div class="card-body p-4">

      <form [formGroup]="contactoForm" (ngSubmit)="onSubmitContacto()">

        <!-- Nombre -->
        <div class="mb-4">

          <label class="form-label fw-semibold">
            Nombre Completo *
          </label>

          <input
            type="text"
            class="form-control form-control-lg"
            formControlName="nombre"
            placeholder="Ingrese su nombre">

          @if (
          contactoForm.get('nombre')?.invalid &&
          contactoForm.get('nombre')?.touched
          ) {

          <div class="text-danger mt-2">

            @if (contactoForm.get('nombre')?.errors?.['required']) {
            <small>El nombre es obligatorio.</small>
            }

            @if (contactoForm.get('nombre')?.errors?.['minlength']) {
            <small>Mínimo 3 caracteres.</small>
            }

           @if (contactoForm.get('nombre')?.errors?.['numeros']) {
           <small>El nombre no puede contener números.</small>
            
            }

          </div>

          }

        </div>

        <!-- Email -->
        <div class="mb-4">

          <label class="form-label fw-semibold">
            Correo Electrónico *
          </label>

          <input
            type="email"
            class="form-control form-control-lg"
            formControlName="email"
            placeholder="ejemplo@correo.com">

          @if (
          contactoForm.get('email')?.invalid &&
          contactoForm.get('email')?.touched
          ) {

          <div class="text-danger mt-2">

            @if (contactoForm.get('email')?.errors?.['required']) {
            <small>El correo es obligatorio.</small>
            }

            @if (contactoForm.get('email')?.errors?.['email']) {
            <small>Ingrese un correo válido.</small>
            }

          </div>

          }

        </div>

        <!-- Teléfono -->
        <div class="mb-4">

          <label class="form-label fw-semibold">
            Teléfono
          </label>

          <input
            type="tel"
            class="form-control form-control-lg"
            formControlName="telefono"
            placeholder="3511234567">

          @if (
          contactoForm.get('telefono')?.errors?.['pattern']
          ) {

          <div class="text-danger mt-2">
            <small>Solo se permiten números.</small>
          </div>

          }

        </div>

        <!-- Mensaje -->
        <div class="mb-4">

          <label class="form-label fw-semibold">
            Mensaje *
          </label>

          <textarea
            rows="5"
            class="form-control"
            formControlName="mensaje"
            placeholder="Escriba su consulta aquí..."></textarea>

          @if (
          contactoForm.get('mensaje')?.invalid &&
          contactoForm.get('mensaje')?.touched
          ) {

          <div class="text-danger mt-2">

            @if (contactoForm.get('mensaje')?.errors?.['required']) {
            <small>El mensaje es obligatorio.</small>
            }

            @if (contactoForm.get('mensaje')?.errors?.['minlength']) {
            <small>Debe contener al menos 10 caracteres.</small>
            }

          </div>

          }

        </div>

        <!-- Botón -->
        <div class="d-grid">

          <button
            type="submit"
            class="btn btn-primary btn-lg rounded-pill"
            [disabled]="contactoForm.invalid">

            Enviar Mensaje

          </button>

        </div>

        <!-- Mensaje de éxito -->
        @if (enviado) {

        <div class="alert alert-success mt-4 text-center">

          <strong>✓ Mensaje enviado correctamente</strong>

        </div>

        }

      </form>

    </div>

  </div>

</div>
</section>
